<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <%= stylesheet_link_tag 'card', media: 'all' %>
</head>
<body>
    <div class="full_container">
        <header>
            <div class="header-container">
                <h1>Food Resources</h1>
            </div>
        </header>

        <div class="card-grid">
            <% @organizations.each do |organization| %>
            <div class="card">
                <h2><%= organization.org_name %></h2>
                <div class="description">
                    <p><%= organization.servicesSummary %></p>
                    <p><%= organization.street %>, <%= organization.city %>, <%= organization.org_state %>, <%= organization.zipcode %></p>
                    <p>Phone: <%= organization.phoneNumber %></p>
                    <p><a href="<%= organization.webLink %>">Visit Website</a></p>
                    <%= link_to '&#9733;'.html_safe, favorites_path(favorite: { organizationID_id: organization.id }), method: :post, class: "favorite-button", title: "Add to favorites" %>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</body>
</html>
